<app-menu></app-menu>
<meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
<body>
  <div id="bookContainer">
    <div id="searchContainer" class="input-group">
      <div class="form-outline">
        <input type="search" class="form-control" name="filterBooks" placeholder="Buscar.." [(ngModel)]="filterBooks"/>
      </div>
      <button type="button" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      </button>
    </div>
  <div class="table-responsive">
  <table class="table table-sm table-dark">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Autor</th>
            <th>Precio</th>
            <th>Stock</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of books | filter:filterBooks" class="table-hover">       
            <td class="docSection table-active" style="width: 30%;">{{book.name}}</td>
            <td class="docSection table-active" style="width: 20%;">{{book.author}}</td>
            <td class="docSection table-active" style="width: 5%;">{{book.price}}</td>
            <td class="docSection table-active" style="width: 5%;">{{book.stock}}</td>
            <td class="actionButtons">
              <button (click)="goBookEdit(book.id)"><img src="./assets/editar.png"/>
              </button> 
              <button><img src="./assets/papelera.png">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </body>