/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
	background: linear-gradient(45deg, #49a09d, #5f2c82);
	background-size: cover;
	font-family: sans-serif;
}
.actionButtons {
width: 6%;
}

button {
    margin-right: 2px;
    border-radius: 50%;
}

#searchContainer{
	margin-bottom: 15px;
}

.highlightedText {
    background: yellow;
}
